api:
  version: v1
  
quarkus:
  http:
    root-path: /api/${api.version}
  package:
    jar:
      enabled: true
      type: fast-jar
  container-image:
    build: false          	# To build the docker image
    push: false 			# Don't push to registry (for now).
    group: com.demo.place 	# parte antes da barra (repo/namespace)
    name: place				# image name
    tag: "0.0.1-SNAPSHOT"   # tag (optional; default is the project version)

  datasource:
    db-kind: h2
    username: sa
    password: 
    jdbc:
      url: jdbc:h2:mem:pizza;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
  hibernate-orm:
    log:
      sql: true
    default-datasource:
      database:
        generation: validate
    physical-naming-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy

  flyway:
    migrate-at-start: true
    baseline-on-migrate: false
