quarkus:
  package:
    jar:
      enabled: true
      type: fast-jar
  container-image:
    build: false           # manda construir a imagem no build
    push: false            # não fazer push pro registry (por enquanto)
    group: com.demo.place  # parte antes da barra (repo/namespace)
    name: place2           # nome da imagem
    tag: "0.0.1-SNAPSHOT"  # tag (opcional; default é a versão do projeto)

  datasource:
    db-kind: h2
    username: sa
    password: 
    jdbc:
      url: jdbc:h2:mem:pizza;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
  hibernate-orm:
    log:
      sql: true
    database:
      generation: validate
    physical-naming-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy

  flyway:
    migrate-at-start: true
    baseline-on-migrate: false
